@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@900&display=swap');

body {
  margin: 0;
  padding: 0;
  background-image: url("./pictures/stars.jpg");
  background-size: cover;
 }

.down-layer {
  /* filter: blur(10px); */

}

.container {
  width: 600px;
  height:500px;
  background-color: white;
  opacity: 90%;
  border-radius: 2%;
  margin: 100px auto ;
}

.header{
  padding: 20px;
}

.header h1{
  font-family: 'Exo 2', sans-serif;
  font-weight: 900;
  font-size: 20pt;
}

h1 {
  all:initial;
}

.down-form-list {
  background-color: wheat;
  width: fit-content;
}

.city-form {

  position: relative;
  background-color: #94c2ff;
  width: auto;
  height: 300px;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
}

.input-place {
  background:rgba(255,255,255,0.5);
  margin-bottom:10px;
  margin-top:3px;
  line-height:1.5em;
  font-size:15px;
  border: none;
  border-radius: 3px;
  padding:5px 10px 5px 10px;
  color:#fff;
  box-sizing:border-box;
  width:50%;
  margin:10px;
}